html{

}
body{
	border: 2px double #666;
	padding: 25px;
	font-family: sans-serif;
	text-align: justify;
	color: #666;
}
h1{
	font-size: 72px;
	font-weight: bold;
}
p{
	font-style:oblique;
	font-size: 24px;
	color: #888;
}
