html{

}
body{
	border: 5px solid blue;
	padding: 10px;
	font-family: sans-serif;
	text-align: justify;
	color: blue;
}
h1{
	font-size: 24px;
	font-weight: bold;
}
p{
	font-style: italic;
	font-size: 14px;
}
